<h2>Experience</h2>
<div class="item__content">
    <span class="item__meta">Jun 25 - Present</span>
    ML Engineer @ <a href="https://about.meta.com/" target="_blank">Meta</a>, Menlo Park
</div>
<div class="item__content">
    <span class="item__meta">May 24 - Jun 25</span>
    Staff Engineer, AI @ <a href="https://www.balbix.com/" target="_blank">Balbix</a>, San Jose
</div>
<div class="item__content">
    <span class="item__meta">Feb 23 - May 24</span>
    Sr. Engineer, AI @ Balbix, San Jose
</div>
<div class="item__content">
    <span class="item__meta">May 22 - Aug 22</span>
    AI/ML Engineer Intern @ Balbix, San Jose
</div>
<div class="item__content">
    <span class="item__meta">Mar 20 - Jul 21</span>
    Project Scientist @ IIT Delhi, India
</div>
<div class="item__content">
    <span class="item__meta">Jun 17 - Feb 20</span>
    Sr. Engineer @ Goldman Sachs, India
</div>
