<h2>Publications</h2>

<div class="item__content">
    <b class="item__header">2024</b>
    <br>
    <span>Thamizharasan, V., Liu, D., <u>Agarwal, S.</u>, Fisher, M., Gharbi, M., Wang, O., Jacobson, A. and Kalogerakis, E. <a href='https://arxiv.org/abs/2312.04892' target="_blank">VecFusion: Vector Font Generation with Diffusion</a>. CVPR, 2024</span>
</div>

<div class="item__content">
    <b class="item__header">2021</b>
    <br>
    <span>Raghu, D.*, <u>Agarwal, S.</u>*, Joshi, S., Mausam. <a href='https://arxiv.org/abs/2109.07263' target="_blank">End-to-End Learning of Flowchart Grounded Task-Oriented Dialogs</a>. EMNLP, 2021</span>
</div>

<small>* Equal Contribution</small>
